.card {
    background-color: #000;
    border-radius: 20px;
    width: 300px;
    transition-duration: 0.5s;
    margin-bottom: 20px;
}

.card:hover {
    transform: scale(1.1);
}

.img {
    width: 100%;
    height: 90px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.nombre {
    font-size: 25px;
    color: #6ce;
}

.texto, .nombre {
    margin-left: 5px;
}

.container {
    padding: 10px;
}

.link {
    color: #6ce;
}