.titulo {
    color: #6ce;
    font-size: 30px;
    text-align: center;
}

.detalles {
    margin-left: 10px; 
    color: #fff;
    display: flex; 
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 60px;
}


.img {
    width: 400px;
    height: 300px;
    border-radius: 20px;
}

.nombre {
    font-size: 30px;
    color: #6ce;
}

.datos {
    color: #fff;
    width: 400px;
    font-size: 20px;
}

.info {
    padding-left: 7px;
    margin-top: 20px;
}

.fabricantesYComponentes {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    gap: 70px;
}

.cartas {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}


.fabricante {
    height: 70px;
    border-radius: 20px;
    width: 250px;
    transition-duration: 0.5s;
}

.componente {
    padding: 15px;
    border: solid #6ce 2px;
    border-radius: 20px;
    width: 250px;
    text-align: center;
    color: #6ce;
    background-color: #000;
    font-size: 18px;
    transition-duration: 0.5s;
    text-decoration: none;
}

.componente:hover, .fabricante:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #6ce;
    color: #000;
}

