.titulo {
    color: #6ce;
    text-align: center;
    width: 100%;
    font-weight: bold;
    margin-bottom: 50px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    color: #fff;
    justify-content: center;
    margin-bottom: 40px;
}