.footer {
    margin-top: 80px;
    width: 100%;
    background-color: #000;
    color: #fff;
    height: 280px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.datos {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 15px;
}

.link {
    color: #6ce;
}

.nombre {
    margin: 0;
}