.footer {
    margin-top: 50px;
    width: 100%;
    background-color: #000;
    color: #fff;
    height: 120px;
    padding-top: 50px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.datos {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 15px;
}

.link {
    color:#6ce;

}

.link:hover{
    cursor: pointer;
    color: #6ce;
    text-shadow: 0 0 10px #6ce; 
    box-shadow: 20px 100px 35px 20px #6ce;
    }


.nombre {
    margin: 0;
}