.banner {
    background-image: url(../assets/banner.jpg);
    width: 99vw;
    height: 20vw;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 1vw;
    filter: blur(3px);
}

.titulo {
    margin: 0;
    position: absolute;
    color: #fff;
    left: 35.5vw;
    top: 4vw;
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    text-shadow: 0 0 10px #000;
}

.item {
    padding: 20px;
    letter-spacing: 2px;
    transition-duration: 0.5s;
}

.menu {
    position: sticky;
    top: 0;
    color: #fff;
    box-shadow: 0 0 40px 0 #000;
    background-color: #111;
    margin-bottom: 30px;
}

.lista {
    padding: 0;
    margin: 0;
    font-size: 15px;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
}

.item:hover {
    cursor: pointer;
    background-color: #222;
}