.banner {
    filter: brightness(0.4);
    width: 100vw;
    object-fit:cover;
    object-position: center;
    height: 20vw;
    text-align: center;
}

.header {
    position: relative;
}

.logo {
    height: 24vw;
    width: 24vw;
    position:absolute;
    bottom: -2.5vw;
    left: 37vw;
}

.signin, .login {
    position: absolute;
    margin-top: 10px;
    background: none;
    border: none;
    color: #fff;
    transition-duration: 0.5s;
}

.signin {
    right: 90px; 
    top: 0;
}

.login {
    top: 0;
    right: 20px;
}


button:hover {
    color: #6ac;
    cursor: pointer;
}