.banner {
    filter: brightness(0.4);
    width: 100%;
    object-fit:cover;
    object-position: center;
    height: 20vw;
    text-align: center;
}

.header {
    position: relative;
}

.logo {
    height: 23vw;
    width: 23vw;
    position:absolute;
    bottom: -2.3vw;
    left: 36.5vw;
}

.signin, .login {
    position: absolute;
    margin-top: 10px;
    background: none;
    border: none;
    color: #6ce;
    transition-duration: 0.3s;
}

.signin {
    right: 90px; 
    top: 0;
}

.login {
    top: 0;
    right: 20px;
}


button:hover {
    text-shadow: 0 0 10px #6ce; 
    cursor: pointer;
}