.titulos {
    margin-bottom: 30px;
    text-align: center;
}

.span, .li::marker, .titulos {
    color: #6ce;
}

.imagenFija {
    background-image: url(../assets/imagenFija.jpg);
    filter: brightness(0.5);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 300px;
    margin: 50px 0 50px 0;
}

.wrapper {
    display: flex;
    width: 100%;
    gap: 40px;
    color: #fff;
    flex-wrap: wrap;
}

.imagen {
    height: 13vw;
    width: 17vw;
    min-width: 180px;
    min-height: 130px;
    border-radius: 20px;
    margin-top: 30px;
    transition-duration: 0.5s;
}

.imagenes {
    display: flex;
    gap: 30px;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 0;
    flex-grow: 2;
}

.historiaContainer {
    width: 100%;
    padding: 40px;
    padding-top: 0;
    margin-top: 70px;
}

.textoHistoria {
    width: 50%;
    margin: auto;
    min-width: 300px;
}

.imagen:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.filosofiaContainer {  
    width: 50%;
    margin: auto;
    min-width: 300px;
    color: #fff;
    padding: 40px 0 40px 0;
}

.video {
    display: block;
    width: 36vw;
    height: 20.4vw;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 70px;
    min-width: 300px;
    min-height: 170px;
    border-radius: 20px;
}

.separador {
    width: 80%;
    height: 1.5px;
    margin: auto;
    background-color: #000;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contacto {
    display: flex;
    margin-top: 70px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.maps {
    width: 45vw;
    height: 25vw;
    min-width: 400px;
    min-height: 250px;
}

.card {
    background-color: #000;
    color: #fff;
    padding: 35px;
    border-radius: 20px;
    width: 400px;
    height: 380px;
    transition-duration: 0.5s;
    text-align: center;
}

.card:hover {
    box-shadow: 0 0 30px 0 #6ce;
    transform: scale(1.1);
}

.link {
    color:#6ce;
}