.item, .carrito {
    color: #6ce;
    padding: 20px;
    letter-spacing: 2px;
    transition-duration: 0.5s;
    font-size: 15px;
    text-align: center;
}

.link {
    text-decoration: none;
    color: #6ce;
}

.menu {
    position: sticky;
    top: 0;
    box-shadow: 0 0 40px 0 #000;
    background-color: #000;
    margin-bottom: 50px;
    z-index: 10;
}

.lista {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.item:hover, .carrito:hover {
    cursor: pointer;
    color: #6ce;
    text-shadow: 0 0 10px #6ce; 
    box-shadow: 0 20px 35px -25px #6ce;
}

